
<button onclick="window.location.href='https://stackblitz.com/edit/rxjs-swqq2n?file=index.ts';">
    RXJS Pipe
</button>

<button
onclick="window.location.href='https://stackblitz.com/edit/rxjs-4qxnon?file=index.ts';"
>
    RXJS Comun
</button>

<button
onclick="window.location.href='https://stackblitz.com/edit/rxjs-octeuk?file=index.ts';"
>
    RXJS Replay
</button>

<button
onclick="window.location.href='https://stackblitz.com/edit/rxjs-ykkqse?file=index.ts';"
>
    RXJS Behavior subject
</button>